<div class="professor-list">
    <h3 class="list-title">Professores</h3>
    <div class="list-container"
        cdkDropList
        [id]="professorDropListId"
        [cdkDropListData]="professors"
        [cdkDropListConnectedTo]="slotDropListIds">
        <div *ngFor="let professor of professors" class="professor-item" cdkDrag
            [cdkDragData]="createDragData(professor)">

            <div class="professor-info">
                <span class="professor-name">{{ professor.name }}</span>
                <span class="professor-department">{{ professor.department }}</span>
                <span class="professor-email">{{ professor.email }}</span>
            </div>

            <div class="drag-handle">⋮⋮</div>

            <!-- Custom drag preview -->
            <div class="drag-preview" *cdkDragPreview>
                <div class="preview-professor">
                    <span class="preview-name">{{ professor.name }}</span>
                    <span class="preview-department">{{ professor.department }}</span>
                </div>
            </div>
        </div>
    </div>
</div>